/* Background color for body */
body {
    background-color: lightblue;
}

/* Top header styling */
h1 {
    text-align: center;
}

/* Second level header styling */
h2 {
    font-size: 18px;
}

/* Paragraph styling - 2nd paragraph with special styling */
p {
    line-height: 1.5em;
}

/* Link color styling */
a {
    color: blue;
}

/* Different color for w3schools link */
#w3link {
    color: red;
}

/* 4th and 5th paragraph colors */
#para4 {
    color: white;
    background-color: darkblue;
    padding: 15px;
}

#para5 {
    color: white;
    background-color: darkblue;
    padding: 15px;
}

/* Styled paragraph with border, padding, margin, and width */
.styledPara {
    background-color: white;
    border: 5px solid green;
    padding: 15px;
    margin: 15px;
    line-height: 1.5em;
}

/* List styling with two-digit numbers */
ol {
    list-style-type: decimal-leading-zero;
}

/* Table styling */
table {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Table header styling */
th {
    background-color: gray;
    border: 1px solid black;
    padding: 5px;
}

/* Table cell styling */
td {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}
