body{
	background-color: lightblue;
}

h1{
	text-align: center;
}

h2{
	font-size: 18px;
}

p{
	line-height: 1.5em;
}

a{
	color: blue;
}

#w3link {
	color: red;
}

#para4{
	color: red;
}

#para5{
	color: red;
}

.styledPara{
	background-color: white;
	border: 1px white;
	padding: 15px;
	margin: 15px;
	line-height: 1.5em;
}

ol{
	list-style-type: decimal-leading-zero;
}

table{
	border: 1px solid black;
	border-collapse: collapse;
}

th{
	background-color: gray;
	border: 1px solid black;
	padding: 5px;
}

td{
	background color: lightgray;
	border: 1px solid black;
	padding: 5px;

}
