/* Background color for body */
body {
    background-color: lightblue;
}

/* Top header styling */
h1 {
    text-align: center;
}

/* Second level header styling */
h2 {
    font-size: 18px;
}

/* Paragraph styling */
p {
    line-height: 1.5em;
}

/* Link color styling */
a {
    color: blue;
}

/* W3schools link - different color (targeting the specific link) */
a[href="http://www.w3schools.com"] {
    color: red;
}

/* Paragraph with id="paragraph2" - green border */
#paragraph2 {
    background-color: white;
    border: 5px solid green;
    padding: 15px;
    margin: 15px;
    line-height: 1.5em;
}

/* Paragraphs with class="blue" - dark blue background with white text */
.blue {
    color: white;
    background-color: darkblue;
    padding: 15px;
}

/* List styling with two-digit numbers */
ol {
    list-style-type: decimal-leading-zero;
}

/* Table styling */
table {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Table header styling */
th {
    background-color: gray;
    border: 1px solid black;
    padding: 5px;
}

/* Table cell styling */
td {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}
