body{
	font-family: Arial, sans-seriff;
	background-color: #e3f2fd;
	margin: 0;
	padding: 20px;
}

.container{
	max-width: 800px;
	margin: 0 auto;
	background-color: white;
	padding: 30px;
	border-radius: 15px;
	border: 5px solid #ffa726;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

h1{
	text-align: center;
	color: #1976d2;
	margin-bottom: 30px;
}

.search-section {
	text-align:center;
	margin-bottom: 30px;
}

.search-section label{
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: bold;
}

.search-section input{
	padding: 10px;
	width: 300px;
	font-size: 16px;
	border: 2px solid #ddd;
	border-radius: 5px;
	margin-right: 10px;
}

.search-section button{
	padding: 10px 20px;
	font-size: 16px;
	background-color: #1976d2;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.search-section button: hover{
	background-color: #1565c0;
}

#pokemonDisplay {
	text-align: center;
	margin: 30px 0;
}

#pokemonImage{
	width: 200px;
	height: 200px;
	image-rendering: pixelated;
	margin: 20px 0;
}

#pokemonSound{
	margin: 20px 0;
	width: 400px;
}

.moves-section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 15px;
	margin: 30px 0;
}

.moves-section select{
	padding: 10px;
	font-size: 14px;
	border: 2px solid #ddd;
	border-radius: 5px;
	background-color: white;
}

#addToTeamButton{
	padding: 12px 30px;
	font-size: 18px;
	background-color: #dcaf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

#addToTeamButton: hover{
	background-color: #45a049;
}

#teamDisplay{
	margin-top: 40px;
	padding:top: 30px;
	border-top: 3px solid #ffa726;
}

#teamDisplay h2{
	text-align: center;
	color: #1976d2;
}

#teamList{
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.team-member{
	display: flex;
	align-items: center;
	padding: 15px;
	background-color: #f5f5f5;
	border-radius: 10px;
	border: 2px solid #ddd
}

.team-member img{
	width: 100px;
	height: 100px;
	image-rendering: pixelated;
	margin-right: 20px;
}

.team-member-info{
	flex: 1;
}

.team-member-info h3{
	margin: 0 0  10px 0;
	text-transform: capitalize;
}

.team-member-info ul{
	margin 0;
	padding-left: 20px;
}

.team-member-info li{
	text-transform: capitalize;
}
